.opacity--0 {
  opacity: 0;
}

.opacity--1 {
  opacity: 0.01;
}

.opacity--2 {
  opacity: 0.02;
}

.opacity--3 {
  opacity: 0.03;
}

.opacity--4 {
  opacity: 0.04;
}

.opacity--5 {
  opacity: 0.05;
}

.opacity--6 {
  opacity: 0.06;
}

.opacity--7 {
  opacity: 0.07;
}

.opacity--8 {
  opacity: 0.08;
}

.opacity--9 {
  opacity: 0.09;
}

.opacity--10 {
  opacity: 0.1;
}

.opacity--11 {
  opacity: 0.11;
}

.opacity--12 {
  opacity: 0.12;
}

.opacity--13 {
  opacity: 0.13;
}

.opacity--14 {
  opacity: 0.14;
}

.opacity--15 {
  opacity: 0.15;
}

.opacity--16 {
  opacity: 0.16;
}

.opacity--17 {
  opacity: 0.17;
}

.opacity--18 {
  opacity: 0.18;
}

.opacity--19 {
  opacity: 0.19;
}

.opacity--20 {
  opacity: 0.2;
}

.opacity--21 {
  opacity: 0.21;
}

.opacity--22 {
  opacity: 0.22;
}

.opacity--23 {
  opacity: 0.23;
}

.opacity--24 {
  opacity: 0.24;
}

.opacity--25 {
  opacity: 0.25;
}

.opacity--26 {
  opacity: 0.26;
}

.opacity--27 {
  opacity: 0.27;
}

.opacity--28 {
  opacity: 0.28;
}

.opacity--29 {
  opacity: 0.29;
}

.opacity--30 {
  opacity: 0.3;
}

.opacity--31 {
  opacity: 0.31;
}

.opacity--32 {
  opacity: 0.32;
}

.opacity--33 {
  opacity: 0.33;
}

.opacity--34 {
  opacity: 0.34;
}

.opacity--35 {
  opacity: 0.35;
}

.opacity--36 {
  opacity: 0.36;
}

.opacity--37 {
  opacity: 0.37;
}

.opacity--38 {
  opacity: 0.38;
}

.opacity--39 {
  opacity: 0.39;
}

.opacity--40 {
  opacity: 0.4;
}

.opacity--41 {
  opacity: 0.41;
}

.opacity--42 {
  opacity: 0.42;
}

.opacity--43 {
  opacity: 0.43;
}

.opacity--44 {
  opacity: 0.44;
}

.opacity--45 {
  opacity: 0.45;
}

.opacity--46 {
  opacity: 0.46;
}

.opacity--47 {
  opacity: 0.47;
}

.opacity--48 {
  opacity: 0.48;
}

.opacity--49 {
  opacity: 0.49;
}

.opacity--50 {
  opacity: 0.5;
}

.opacity--51 {
  opacity: 0.51;
}

.opacity--52 {
  opacity: 0.52;
}

.opacity--53 {
  opacity: 0.53;
}

.opacity--54 {
  opacity: 0.54;
}

.opacity--55 {
  opacity: 0.55;
}

.opacity--56 {
  opacity: 0.56;
}

.opacity--57 {
  opacity: 0.57;
}

.opacity--58 {
  opacity: 0.58;
}

.opacity--59 {
  opacity: 0.59;
}

.opacity--60 {
  opacity: 0.6;
}

.opacity--61 {
  opacity: 0.61;
}

.opacity--62 {
  opacity: 0.62;
}

.opacity--63 {
  opacity: 0.63;
}

.opacity--64 {
  opacity: 0.64;
}

.opacity--65 {
  opacity: 0.65;
}

.opacity--66 {
  opacity: 0.66;
}

.opacity--67 {
  opacity: 0.67;
}

.opacity--68 {
  opacity: 0.68;
}

.opacity--69 {
  opacity: 0.69;
}

.opacity--70 {
  opacity: 0.7;
}

.opacity--71 {
  opacity: 0.71;
}

.opacity--72 {
  opacity: 0.72;
}

.opacity--73 {
  opacity: 0.73;
}

.opacity--74 {
  opacity: 0.74;
}

.opacity--75 {
  opacity: 0.75;
}

.opacity--76 {
  opacity: 0.76;
}

.opacity--77 {
  opacity: 0.77;
}

.opacity--78 {
  opacity: 0.78;
}

.opacity--79 {
  opacity: 0.79;
}

.opacity--80 {
  opacity: 0.8;
}

.opacity--81 {
  opacity: 0.81;
}

.opacity--82 {
  opacity: 0.82;
}

.opacity--83 {
  opacity: 0.83;
}

.opacity--84 {
  opacity: 0.84;
}

.opacity--85 {
  opacity: 0.85;
}

.opacity--86 {
  opacity: 0.86;
}

.opacity--87 {
  opacity: 0.87;
}

.opacity--88 {
  opacity: 0.88;
}

.opacity--89 {
  opacity: 0.89;
}

.opacity--90 {
  opacity: 0.9;
}

.opacity--91 {
  opacity: 0.91;
}

.opacity--92 {
  opacity: 0.92;
}

.opacity--93 {
  opacity: 0.93;
}

.opacity--94 {
  opacity: 0.94;
}

.opacity--95 {
  opacity: 0.95;
}

.opacity--96 {
  opacity: 0.96;
}

.opacity--97 {
  opacity: 0.97;
}

.opacity--98 {
  opacity: 0.98;
}

.opacity--99 {
  opacity: 0.99;
}

.opacity--100 {
  opacity: 1;
}
